* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 1200px;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}

.icon-cart {
  width: 40px;
  height: 40px;
  stroke: #000;
}

.icon-cart:hover {
  cursor: pointer;
}

img {
  max-width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 30px 0 40px 0;
}

.container-icon {
  position: relative;
}

.count-products {
  position: absolute;
  top: 55%;
  right: 0;

  background-color: #000;
  color: #fff;
  width: 25px;
  height: 25px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

#contador-productos {
  font-size: 12px;
}

.container-cart-products {
  position: absolute;
  top: 50px;
  right: 0;

  background-color: #fff;
  width: 400px;
  z-index: 1;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.cart-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  font-style: oblique;
  /* border-radius: 15px; */
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(177, 177, 177, 1) 100%
  );
  color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.info-cart-product {
  display: flex;
  justify-content: space-between;
  flex: 0.8;
}

.titulo-producto-carrito {
  font-size: 20px;
}

.precio-producto-carrito {
  font-weight: 700;
  font-size: 20px;
  margin-left: 10px;
}

.cantidad-producto-carrito {
  font-weight: 400;
  font-size: 20px;
}

.icon-close {
  width: 25px;
  height: 25px;
}

.icon-close:hover {
  stroke: red;
  cursor: pointer;
}

.cart-total {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 20px;
  /* border-radius: 15px; */
  color: white;
  background: rgb(255, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 50%
  );
}

.cart-total h3 {
  font-size: 20px;
  font-weight: 700;
}

.total-pagar {
  font-size: 20px;
  font-weight: 900;
}

.hidden-cart {
  display: none;
}

.container-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.item {
  border-radius: 10px;
}

.item:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  transition: all 0.5s;
}

.item figure {
  overflow: hidden;
}

.item:hover img {
  transform: scale(1.2);
}

.info-product {
  padding: 15px 30px;
  line-height: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.price {
  font-size: 18px;
  font-weight: 900;
}

.info-product button {
  border: none;
  background: none;
  background-color: #000;
  color: #fff;
  padding: 15px 10px;
  cursor: pointer;
}

.cart-empty {
  padding: 20px;
  text-align: center;
}

.hidden {
  display: none;
}

.btn-clear-all {
  border: none;
  background-color: #000;
  color: #fff;
  padding: 15px 0;
  display: block;
  width: 100%;
  margin-top: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: inherit;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
}

.btn-clear-all:hover {
  background-color: #333;
  transform: scale(1.03);
  border-radius: 0;
}
.button {
  font-family: Arial, Helvetica, sans-serif;
  font-style: oblique;
  font-size: 20px;
  border-radius: 15px;
}
.button.button {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}
.h1 {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  color: white;
  border-radius: 15px;
}
